<% illustrations.each do |illustration| %>
    <div class="group relative">
      <div class="w-full overflow-hidden group-hover:opacity-75 lg:h-50 xl:h-50">
        <%= image_tag "#{illustration.image_url}", class: 'object-over' %>
      </div>
      <%= link_to illustration_path(illustration) do %>
      <h3 class="mt-2 text-sm text-gray-700">
        <span class="absolute inset-0 "></span>
        <%= illustration.title %>
      </h3>
       <% end %>  
      <p class="mt-1 text-sm text-gray-500"><%= illustration.years %></p>
      <p class="mt-1 text-sm font-medium text-gray-900 mb-2"><%= illustration.content %></p>
    </div>
    <% end %>