<h1>作品列表</h1>
<%= link_to "新增插畫", new_illustration_path %>

<table>
    <thead>
        <tr>
          <td>標題</td>
          <td>描述</td>
          <td>年份</td>
          <td>標籤</td>
          <td>圖片</td>
        </tr>
    </thead>

    <tbody>
        <% @illustrations.each do |illustration| %>
        <tr>
            <td><%= illustration.title %></td>
            <td><%= illustration.content %></td>
            <td><%= illustration.years %></td>
            <td><%= illustration.image %></td>
            <td><%= illustration.label %></td>
            <td>
                <%= link_to "編輯", edit_illustration_path(illustration) %>
                <%= link_to "刪除", illustration_path(illustration), method: "delete",
                                                                    data: { confirm: "確認刪除" } %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<!-- <% @illustrations.each do |illustration| %>

        <%= illustration.title %>
        <%= link_to "刪除", illustration_path(illustration), method: "delete", 
                                                            data: { confirm: "確認刪除" } 
                                                            %>


<% end %>
 -->
