<h1>吃飯</h1>
<%= image_tag @illustration.image_url if @illustration.image_url.present? %>



# <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
# <div class="w-full p-6 mx-auto">
#     <div class="shadow-md rounded bg-white overflow-hidden relative">
#         <div class="absolute top-2 right-2">
#             <div class="relative" x-data="{ isOpen: false }">
#                 <button
#                     @click="isOpen = !isOpen"
#                     class="p-2 bg-gray-100 rounded-full hover:bg-gray-200 focus:outline-none focus:ring"
#                 >
#                     <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
#                         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
#                     </svg>
#                 </button>

#                 <!-- Dropdown card -->
#                 <div
#                     @click.away="isOpen = false"
#                     x-show.transition.opacity="isOpen"
#                     class="absolute w-48 max-w-md mt-3 transform bg-white rounded-md shadow-lg -translate-x-3/4 min-w-max overflow-hidden"
#                 >
#                     <div class="p-2 font-medium border-b">
#                         <span class="text-gray-800">Actions</span>
#                     </div>
#                     <ul class="flex flex-col">

#                         <li>
#                             <a href="#" class="flex items-center px-2 py-1 transition hover:bg-gray-100">
#                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill " viewBox="0 0 16 16">
#                                     <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
#                                     <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
#                                 </svg>
#                                 <span class="ml-2">View</span>
#                             </a>
#                         </li>
#                         <li>
#                             <a href="#" class="flex items-center px-2 py-1 transition hover:bg-gray-100 ">
#                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square " viewBox="0 0 16 16">
#                                     <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
#                                     <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
#                                 </svg>
#                                 <span class="ml-2">Edit</span>
#                             </a>
#                         </li>
#                         <li>
#                             <a href="#" class="flex items-center px-2 py-1 transition hover:bg-gray-100">
#                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill " viewBox="0 0 16 16">
#                                     <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
#                                 </svg>
#                                 <span class="ml-2">Remove</span>
#                             </a>
#                         </li>
#                     </ul>
#                 </div>
#             </div>
#         </div>
#         <div class="grid grid-cols-2 h-64">
#             <div class="h-64 overflow-hidden">
#                 <img class="object-cover h-64 w-full" src="https://images.freeimages.com/images/small-previews/20c/my-puppy-maggie-1362787.jpg">
#             </div>
#             <div class="h-64 overflow-hidden">
#                 <img class="object-cover h-32 w-full" src="https://images.freeimages.com/images/small-previews/e71/frog-1371919.jpg">
#                 <img class="object-cover h-32 w-full" src="https://cdn.pixabay.com/photo/2015/07/27/19/47/turtle-863336__340.jpg">
#             </div>
#         </div>
#         <div class="p-3">
#             <div class="block md:flex justify-between">
#                 <div>
#                     <h3 class="font-medium"><%= @illustration.title %></h3>
#                     <span class="text-sm text-gray-500"><%= @illustration.content %></span>
#                     <span class="text-sm text-gray-500"><%= @illustration.years %></span>
#                     <span class="text-sm text-gray-500"><%= @illustration.label %></span>

#                 </div>

#                 <div class="">
#                     <div>
#                         <span class="text-sm text-gray-500">01-20-2020 12:30</span>
#                     </div>
#                 </div>
#             </div>

#         </div>
#     </div>
# </div>