<h1>作品列表</h1>
<%= link_to "新增插畫", new_admin_illustration_path %>

<%= form_for @illustration do |f| %>
    <div class="flex justify-center items-center w-full  border-4">
        <div class="w-1/2 rounded shadow-2xl p-8 m-4 bg-red-200">
            <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">編輯商品</h1>
            <div class="flex flex-col mb-4">
                <%= f.label :title,"作品名稱",class:"mb-2 font-bold text-lg text-gray-900" %>
                <%= f.text_field :title, class:"border py-2 px-3 text-grey-800" %> 
            </div>
            <div class="flex flex-col mb-4">
                <%= f.label :years,"年份",class:"mb-2 font-bold text-lg text-gray-900" %>
                <%= f.text_field :years, class:"border py-2 px-3 text-grey-800" %>
            </div>
            <div class="flex flex-col mb-4">
                <%= f.label :image, "上載商品",class:"mb-2 font-bold text-lg text-gray-900" %>
                <%= f.file_field :image,class:"border py-2 px-3 text-grey-800" %>
            </div>
            <div class="flex flex-col mb-4">
                <%= f.label :content,"內容", class:"mb-2 font-bold text-lg text-gray-900" %>
                <%= f.text_area :content, class:"border py-2 px-3 text-grey-800" %>
            </div>
            <div class="flex flex-col mb-4">
                <%= f.label :label,"類別",class:"mb-2 font-bold text-lg text-gray-900"  %>
                <%= f.text_field :label,class:"border py-2 px-3 text-grey-800" %>
            </div>	
            <div class='flex justify-center'>
                <%= f.text_field :illustration_id, value: current_user.id, type: 'hidden' %>
                <%= f.submit "更新商品",class:"btn mr-2 btn-outline text-red-300 border-red-300 bg-red-100 hover:bg-blue-200 hover:border-blue-200 hover:text-white" %>
                <%= link_to '回首頁' , illustration_path ,class:"btn btn-outline text-red-300 border-red-300 bg-red-100 hover:bg-blue-200 hover:border-blue-200 hover:text-white" %>
                <%= link_to '刪除' , illustration_path(@illustration), method: "DELETE" , class: 'btn text-red-300 bg-red-100 border-red-300 hover:bg-blue-200 hover:border-blue-200 hover:text-white' %>
            </div>
        </div>
    </div>
<% end %>
    
    
